/SmartAgent/*.iml
/SmartAgent/.gradle
/SmartAgent/local.properties
/SmartAgent/.idea/workspace.xml
/SmartAgent/.idea/libraries
/SmartAgent/.DS_Store
/SmartAgent/build
/SmartAgent/captures
/SmartAgent/.externalNativeBuild
SmartManagerAgent/.idea/
SmartManagerAgent/build/
