SmartManagerAgent/*.iml
/SmartManagerAgent/.gradle
SmartManagerAgent/local.properties
SmartManagerAgent/.idea/workspace.xml
SmartManagerAgent/.idea/libraries
SmartManagerAgent/.DS_Store
SmartManagerAgent/build
SmartManagerAgent/captures
SmartManagerAgent/.externalNativeBuild