<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartmanageragent.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:theme="@style/AppTheme">
        <activity android:name="com.smartmanageragent.application.AboutActivity" />
        <activity android:name="com.smartmanageragent.application.MainActivity" />
        <activity
            android:name="com.smartmanageragent.application.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.smartmanageragent.application.MeetingsActivity"
            android:label="@string/title_activity_meetings" />
        <activity
            android:name="com.smartmanageragent.application.MeetingAddActivity"
            android:label="@string/title_meeting_add_activity" />
        <activity android:name="com.smartmanageragent.application.WeeklyFreeTimeActivity" />
    </application>

</manifest>